/*! CSS Used from: https://launchpad.artyfact.game/css/main.css?v=1703580630684 */
*,:before,:after{box-sizing:border-box;}
body,#app{height:100%;}
body{font:400 17px/1.5 "Work Sans", sans-serif;background:#090a0e;color:#fff;-webkit-font-smoothing:antialiased;}
a{color:#fff;outline:none;}
a:hover,a:active{text-decoration:none;}
p{margin:0 0 27px;}
img{display:block;max-width:100%;}
h1{font-weight:300;color:#fff;margin:0 0 27px;line-height:normal;}
h1{font-size:117px;}
ul{list-style:none;margin:0 0 27px;padding:0;}
svg{display:block;overflow:hidden;}
input[type="number"]{-moz-appearance:textfield;}
input[type="number"]:hover,input[type="number"]:focus{-moz-appearance:number-input;}
.cover{padding:0 15px;margin:0 auto;min-width:320px;}
.select2-selection__result{display:flex;align-items:center;color:#fff;font:700 18px/1 "Work Sans", sans-serif;}
.select2-selection__flag{flex:0 0 auto;width:25px;height:25px;border-radius:50%;object-fit:cover;margin-right:7px;}
@media screen and (min-width: 480px){
.select2-selection__result{font-size:20px;}
}
@media screen and (min-width: 600px){
.cover{max-width:570px;}
}
@media screen and (min-width: 768px){
.cover{max-width:730px;}
}
@media screen and (min-width: 990px){
.cover{max-width:970px;}
}
@media screen and (min-width: 1200px){
.cover{max-width:1170px;}
}
@media screen and (min-width: 1360px){
.cover{max-width:1284px;}
}
.logo{display:block;text-decoration:none;}
.logo__img{max-width:none;width:100%;}
.logo__img_descktop{display:none;}
.pull__icon{width:22px;height:20px;position:relative;}
.pull__icon div{border-radius:4px;width:100%;height:3px;background:#fff;position:absolute;left:0;top:0;transition:all 0.3s ease;}
.pull__icon div:nth-child(2){top:9px;}
.pull__icon div:last-child{top:18px;}
.sale__btn{display:block;width:100%;text-align:center;border:none;text-decoration:none;cursor:pointer;border-radius:15px;color:#fff;font:700 16px/1.2 "Work Sans", sans-serif;padding:15px;margin-bottom:14px;}
.sale__btn[disabled]{opacity:0.5;cursor:not-allowed;}
.bg-gray{background:#14151b;}
.header{position:relative;z-index:9;transition:all 0.3s ease;}
.header__wrapper{display:flex;justify-content:space-between;align-items:center;padding-top:15px;padding-bottom:1px;}
.header__logo{flex:0 0 auto;width:31px;margin-bottom:27px;margin-right:25px;}
.header__block{display:flex;align-items:center;margin:0 -11px 16px;}
.header__links-wrapper{padding:0 11px;display:none;}
.header__socials-wrapper{padding:0 11px;}
.header__socials-wrapper_desktop{display:none;}
.header__links{display:flex;flex-wrap:nowrap;margin:0 -14px;}
.header__links-item{padding:0 14px;margin-bottom:10px;white-space:nowrap;}
.header__links-link{display:block;text-decoration:none;color:#fff;font:700 16px/1.3 "Work Sans", sans-serif;transition:color 0.3s ease;}
.header__socials{display:flex;margin:0 -8px;align-items:center;justify-content:center;}
.header__socials_fwrap{flex-wrap:wrap;}
.header__socials-item{padding:0 8px;margin-bottom:10px;}
.header__socials-item-connect{display:none;}
@media screen and (min-width: 768px){
.header__socials-item-connect{display:block;}
}
.header__socials-link{display:block;text-decoration:none;}
.header__socials-link_connect,.header__socials-link_buy{background:linear-gradient(95.5deg, #587bff 0.5%, #b518ff 97.9%);padding:9px 13px 7px;border-radius:9px;font:700 10px/1.3 "Work Sans", sans-serif;transition:box-shadow 0.3s ease;text-align:center;}
.header__socials-link_buy{background:linear-gradient(95.5deg, #27E65C 0.5%, #587BFF 50.22%, #B518FF 97.9%);}
.header__socials-link_connect{color:white;border:none;display:flex;justify-content:center;align-items:center;}
.header__socials-icon{fill:#c8d0e6;opacity:0.3;transition:opacity 0.3s ease;width:20px;height:15px;}
.header__socials-icon svg{width:100%;height:100%;}
.header__socials-icon:active{opacity:1;}
.header__pull{padding:0 11px;margin-bottom:10px;}
.header__languages{position:relative;flex:0 0 auto;margin-bottom:10px;min-width:56px;padding:0 11px;}
.header__menu{display:flex;flex-direction:column;align-items:center;transform:scaleY(0);transform-origin:0 0;position:absolute;width:100%;opacity:0;visibility:hidden;transition:all 0.3s ease;}
.header__menu-list{margin:0;}
.header__menu-connect{margin:10px 0;display:flex;justify-content:center;}
@media screen and (min-width: 768px){
.header__menu-connect{display:none;}
}
.header__menu-item{text-align:center;margin-bottom:10px;}
.header__menu-link{text-decoration:none;display:inline-block;padding:5px;color:#fff;font:700 16px/1.3 "Work Sans", sans-serif;}
.title{font:300 25px/1.2 "Work Sans", sans-serif;text-align:center;max-width:900px;margin:0 auto;}
.footer_small{background:#212127;}
.footer__block_right{order:-1;}
.footer__content{display:flex;justify-content:space-between;align-items:center;flex-direction:column;margin:0 -25px;padding:30px 0 10px;}
.footer__block{padding:0 25px;margin-bottom:23px;}
.footer__text{color:#717584;font:500 12px/1.5 "Work Sans", sans-serif;}
.footer__author{display:flex;flex-wrap:wrap;align-items:center;justify-content:center;margin:0 -7px;}
.footer__author-text{padding:0 7px;width:100%;text-align:center;margin-bottom:5px;}
.footer__big{border-top:1px solid rgba(255, 255, 255, 0.16);background-color:#141416;padding-top:80px;position:relative;z-index:1;font-family:"Aldrichrus", sans-serif;}
.surha-container{max-width:1284px;padding:0 20px;margin:0 auto;}
.surha-footer{display:flex;justify-content:space-between;width:100%;}
@media (max-width: 992px){
.surha-footer{flex-wrap:wrap;}
}
.surha-footer-section-w29{width:29%;margin-bottom:40px;}
.surha-footer-section-w19{width:19%;margin-bottom:40px;}
@media (max-width: 992px){
.surha-footer-section-w29,.surha-footer-section-w19{width:48%;}
}
@media (max-width: 576px){
.surha-footer-section-w29,.surha-footer-section-w19{width:100%;}
.surha-footer-section-w19{margin-bottom:0;}
.accordion-last{margin-bottom:40px;border-bottom:1px solid #4f4f4f;}
}
.footer-brand{color:#f4f5f6;font-weight:600;font-size:15px;line-height:32px;letter-spacing:-0.02em;margin-bottom:32px;font-family:"Starzone", sans-serif;text-transform:uppercase;display:flex;}
.brand-img{margin-right:10px;margin-top:-4px;width:40px;}
.footer-brand-text{font-size:24px;line-height:32px;letter-spacing:-0.01em;color:#e6e8ec;margin-bottom:32px;}
.footer-icons{display:inline-block;margin-right:25px;}
.footer-icons .social-icons{margin-top:0;font-size:24px;margin-bottom:0;color:#fff;text-align:center;}
.footer-icons .social-icons a{color:#fff;text-decoration:none;transition:all ease 0.3s;margin-right:3px;margin-left:3px;padding:3px;display:inline-block;}
.footer-icons .social-icons a:hover{background-color:#ffffff26;border-radius:8px;}
.footer-ttl-text{font-weight:500;font-size:16px;line-height:24px;margin-bottom:40px;color:#fcfcfd;}
.footer-text2{font-size:14px;line-height:16px;color:#fcfcfc;white-space:nowrap;font-weight:500;}
.footer-text2 a{display:block;color:#fcfcfc;text-decoration:none;margin-bottom:12px;font-weight:500;font-family:"Aldrichrus", sans-serif;}
.footer-subscribe{font-size:16px;line-height:24px;color:#e6e8ec;font-weight:500;}
.footer__big .main-form{flex-wrap:nowrap!important;}
@media screen and (max-width: 576px){
.footer__big .main-form{display:block!important;}
}
.footer__big .btn-primary{font-family:"Starzone", sans-serif!important;text-transform:uppercase;background:linear-gradient(to left, #F8A932, #FF7246)!important;}
@media screen and (max-width: 576px){
.footer__big .btn-primary{width:100%!important;}
}
@media screen and (max-width: 576px){
.accordion-button{position:relative;display:flex;align-items:center;width:100%;padding-top:30px;padding-bottom:22px;margin-bottom:0;}
.accordion-button::after{flex-shrink:0;width:1.25rem;height:1.25rem;margin-left:auto;content:"";background-image:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23fff'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");background-repeat:no-repeat;background-size:1.25rem;transition:transform 0.2s ease-in-out;position:absolute;right:-10px;}
.accordion-panel{max-height:0;overflow:hidden;transition:max-height 0.2s ease-out;}
}
@media screen and (min-width: 375px){
.header__socials-link_connect,.header__socials-link_buy{font-size:12px;}
}
@media screen and (min-width: 480px){
.header__socials-icon{width:29px;height:24px;}
.header__socials-link_connect,.header__socials-link_buy{font-size:14px;padding:11px 35px;border-radius:12px;cursor:pointer;}
.header__socials-link_connect{padding:11px 25px;}
.footer__text{font-size:13px;}
.footer__author-text{width:auto;margin-bottom:0;}
}
@media screen and (min-width: 600px){
.title{font-size:30px;}
}
@media screen and (min-width: 768px){
.title{font-size:40px;}
.footer__block_right{order:0;}
.footer__content{flex-direction:row;}
}
@media screen and (min-width: 990px){
.header__languages{padding:0 15px;}
.header__wrapper{padding-top:34px;padding-bottom:34px;}
.header__block{margin:0 -15px 16px;}
.header__links-wrapper{display:block;padding:0 15px;}
.header__socials-wrapper{padding:0 15px;}
.header__socials-wrapper_desktop{display:block;}
.header__socials{margin:0 -15px;}
.header__socials-item{padding:0 15px;}
.header__socials-icon:hover{opacity:1;}
.header__pull{display:none;}
.title{font-size:55px;}
}
@media screen and (min-width: 1360px){
.header__logo{width:127px;}
.logo__img_descktop{display:block;max-width:50px;}
.logo__img_mobile{display:none;}
}
.wrapper{position:relative;min-height:100%;display:flex;flex-direction:column;overflow:hidden;}
.wrapper__content{flex:1 0 auto;}
.wrapper__footer{flex:0 0 auto;}
.portal{position:relative;background-color:#090A0E;background-position:top center;background-size:cover;background-repeat:no-repeat;}
.portal__cover{position:relative;padding-top:25px;padding-bottom:150px;}
.portal__title{margin-bottom:0;}
.portal__logo-wrapper{position:relative;max-width:267px;width:100%;margin:0 auto;z-index:1;pointer-events:none;}
.portal__logo{max-width:none;width:100%;margin-top:-10%;margin-bottom:-50%;}
.portal__wrapper{position:relative;max-width:532px;width:100%;background:linear-gradient(90deg, #b518ff 0%, #587bff 50%, #27e55c 100%);border-radius:25px;padding:1px;margin:0 auto;}
.portal__content{position:relative;padding:140px 20px 10px;border-radius:25px;background:#1E1F2A;}
.portal__subtitle{text-align:center;color:#ffffff;font:700 20px/1.2 "Work Sans", sans-serif;margin-bottom:21px;}
.portal__input-wrapper{margin-bottom:21px;}
.portal__input{display:block;width:100%;height:86px;border-radius:15px;background:#0F1017;border:0;outline:none;padding:5px 10px;text-align:center;color:#ffffff;font:700 40px/1 "Work Sans", sans-serif;}
.portal__button{display:block;width:100%;border:0;min-height:80px;background:linear-gradient(95.5deg, #27E65C 0.5%, #587BFF 50.22%, #B518FF 97.9%);border-radius:15px;padding:7px 10px 5px;color:#ffffff;font:700 20px/1.2 "Work Sans", sans-serif;text-align:center;cursor:pointer;margin-bottom:28px;}
.portal__info{position:relative;padding-left:28px;color:#8E91A5;font:500 12px/1.5 "Work Sans", sans-serif;margin-bottom:40px;}
.portal__info-icon{fill:#8E91A5;position:absolute;left:0;top:3px;}
.portal__amounts{display:flex;flex-wrap:wrap;margin:0 -5px;}
.portal__amounts-item{width:100%;margin-bottom:20px;text-align:center;padding:0 5px;}
.portal__amounts-title{color:#585B69;font:600 10px/1.2 "Work Sans", sans-serif;margin-bottom:15px;}
.portal__amounts-count{color:#ffffff;font:700 20px/1 "Work Sans", sans-serif;margin-bottom:15px;}
@media screen and (min-width: 375px){
.portal__amounts-item{width:33.3333333333%;}
}
@media screen and (min-width: 480px){
.portal__info{font-size:13px;}
.portal__amounts-title{font-size:12px;}
.portal__amounts-count{font-size:25px;}
}
@media screen and (min-width: 600px){
.portal__content{padding:140px 50px 10px;}
.portal__amounts-title{font-size:14px;}
.portal__amounts-count{font-size:30px;}
}
/*! CSS Used from: https://launchpad.artyfact.game/assets/index-b33ce73a.css */
body{margin:0;}
h1{font-size:2em;margin:.67em 0;}
a{background-color:transparent;}
img{border-style:none;}
button,input{font-family:inherit;font-size:100%;line-height:1.15;margin:0;}
button,input{overflow:visible;}
button{text-transform:none;}
button,[type=submit]{-webkit-appearance:button;}
/*! CSS Used from: Embedded */
.css-b62m3t-container{position:relative;box-sizing:border-box;}
.css-7pg0cj-a11yText{z-index:9999;border:0px;clip:rect(1px, 1px, 1px, 1px);height:1px;width:1px;position:absolute;overflow:hidden;padding:0px;white-space:nowrap;}
.css-1iafhbl-control{-webkit-box-align:center;align-items:center;background-color:transparent;border-radius:4px;box-shadow:none;cursor:pointer;display:flex;flex-wrap:wrap;-webkit-box-pack:justify;justify-content:space-between;min-height:0px;position:relative;transition:all 100ms ease 0s;box-sizing:border-box;border:none;outline:0px!important;}
.css-1iafhbl-control:hover{border-color:rgb(179, 179, 179);}
.css-zl2g27{-webkit-box-align:center;align-items:center;display:grid;flex:1 1 0%;flex-wrap:wrap;padding:0px;position:relative;overflow:hidden;box-sizing:border-box;}
.css-qc6sy-singleValue{color:rgb(51, 51, 51);grid-area:1 / 1 / 2 / 3;margin-left:2px;margin-right:2px;max-width:100%;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;box-sizing:border-box;}
.css-1hac4vs-dummyInput{background:0px center;border:0px;caret-color:transparent;font-size:inherit;grid-area:1 / 1 / 2 / 3;outline:0px;padding:0px;width:1px;color:transparent;left:-100px;opacity:0;position:relative;transform:scale(0.01);}
.css-1wy0on6{-webkit-box-align:center;align-items:center;align-self:stretch;display:flex;flex-shrink:0;box-sizing:border-box;}
.css-1hyfx7x{display:none;}
.css-o6mnua-indicatorContainer{display:flex;padding:4px 0px;transition:color 150ms ease 0s;box-sizing:border-box;color:rgb(255, 255, 255)!important;}
.css-o6mnua-indicatorContainer:hover{color:rgb(153, 153, 153);}
.css-8mmkcg{display:inline-block;fill:currentcolor;line-height:1;stroke:currentcolor;stroke-width:0;}
/*! CSS Used from: Embedded */
.header{background:none;}
@media screen and (min-width: 1360px){
.header__logo{width:127px;}
}
@media screen and (min-width: 1440px){
.header__logo{width:127px;}
}
.header__links-link{font-family:"Work Sans", sans-serif;font-weight:700;font-size:16px;color:#ffffff;}
.header__links-link:active,.header__links-link:hover{color:#F3BA2F;}
@media screen and (min-width: 1200px){
.header__socials-link_connect:hover,.header__socials-link_connect:active{box-shadow:0 7px 5px RGBA(251, 142, 60, 0.5);}
.header__socials-link_buy:hover,.header__socials-link_buy:active{box-shadow:0 7px 5px RGBA(251, 142, 60, 0.5);}
}
/*! CSS Used from: Embedded */
.portal{background:#0F1017 url(https://launchpad.artyfact.game/static/assets/images/content/buy_arty_bg.jpg) top center / cover no-repeat;}
.portal__content{background:#1E1F2A;}
.portal__title{color:#ffffff;font-family:"Work Sans", sans-serif;}
@media screen and (min-width: 990px){
.portal__title{font-size:55px;}
}
.portal__subtitle{color:#ffffff;}
.portal__input{background:#0F1017;color:#87878B;}
.portal__info{color:#8E91A5;}
.portal__amounts-title{color:#585B69;}
.portal__amounts-count{color:#fffffff;}
.sale__btn{background:linear-gradient(90deg, #FF7246 0%, #F8A932 100%);font-family:"Starzone", sans-serif;font-weight:400;text-transform:uppercase;font-weight:400;min-height:80px;font-size:20px;}
/*! CSS Used from: Embedded */
.footer{background:#212127;border-top:1px solid #212127;}
.footer__text{color:#717584;text-decoration:none;}
/*! CSS Used from: Embedded */
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"]{--text-colour:#FCFCFD;--font-family:"Helvetica Neue", Helvetica, Arial, Verdana, sans-serif;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .emailoctopus-form{--label-size:12px;--field-colour:#141416;--label-colour:#FCFCFD;--button-colour:#BC9467;--button-text-colour:#FCFCFD;--field-border-colour:#949494;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"].inline-container{max-width:600px!important;position:relative;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"]{display:block;font-family:var(--font-family);}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .form-control{background-clip:padding-box;background-color:#fff;border:1px solid #ced4da;border-radius:.25rem;color:#495057;display:block;font-size:1rem;font-weight:400;height:calc(1.5em + .75rem + 2px);line-height:1.5;padding:.375rem .75rem;transition:border-color .15s ease-in-out,box-shadow .15s ease-in-out;width:100%;}
@media (prefers-reduced-motion:reduce){
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .form-control{transition:none;}
}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .form-control:focus{background-color:#fff;border-color:#80bdff;box-shadow:0 0 0 .2rem rgba(0,123,255,.25);color:#495057;outline:0;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .form-control::placeholder{color:#6c757d;opacity:1;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .form-control:disabled{background-color:#e9ecef;opacity:1;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .form-group{margin-bottom:1rem;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .btn{background-color:transparent;border:1px solid transparent;border-radius:.25rem;color:#212529;display:inline-block;font-size:1rem;font-weight:400;line-height:1.5;padding:.375rem .75rem;text-align:center;transition:color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;user-select:none;vertical-align:middle;}
@media (prefers-reduced-motion:reduce){
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .btn{transition:none;}
}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .btn:hover{color:#212529;text-decoration:none;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .btn:focus{box-shadow:0 0 0 .2rem rgba(0,123,255,.25);outline:0;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .btn:disabled{opacity:.65;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .btn:not(:disabled):not(.disabled){cursor:pointer;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .btn-primary{background-color:#007bff;border-color:#007bff;color:#fff;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .btn-primary:hover{background-color:#0069d9;border-color:#0062cc;color:#fff;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .btn-primary:focus{background-color:#0069d9;border-color:#0062cc;box-shadow:0 0 0 .2rem rgba(38,143,255,.5);color:#fff;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .btn-primary:disabled{background-color:#007bff;border-color:#007bff;color:#fff;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .btn-primary:not(:disabled):not(.disabled):active{background-color:#0062cc;border-color:#005cbf;color:#fff;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .btn-primary:not(:disabled):not(.disabled):active:focus{box-shadow:0 0 0 .2rem rgba(38,143,255,.5);}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .mb-2{margin-bottom:.5rem!important;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] input[type=submit]{-webkit-appearance:unset;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] input{background:none;margin:0;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] *,[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] :after,[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] :before{box-sizing:border-box;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .text-center{text-align:center;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .emailoctopus-form-row{margin-bottom:18px;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .form-container{margin:auto;max-width:520px;width:100%;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .emailoctopus-form [eo-form-fields-container]{align-items:flex-end;display:flex;flex-grow:2;flex-wrap:wrap;justify-content:center;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .main-form{align-items:flex-end;display:flex;flex-wrap:wrap;justify-content:center;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .main-form .btn,[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .main-form .emailoctopus-form-row{margin-left:2px;margin-right:2px;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .main-form .emailoctopus-form-row{flex-grow:1;min-width:200px;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .main-form .btn{flex-grow:1;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .emailoctopus-form-wrapper{margin-top:1rem;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .emailoctopus-error-message,[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .emailoctopus-success-message{color:var(--text-colour)!important;display:block;font-weight:400;margin:0;opacity:1;padding:0;text-align:center;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .emailoctopus-form-row-hp{left:-5000px;position:absolute;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .emailoctopus-form input{font-family:var(--font-family);}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .emailoctopus-form input:not([type=submit]){background-color:var(--field-colour);border-color:var(--field-border-colour);font-size:var(--base-font-size);line-height:1.6;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .emailoctopus-form input[type=submit]{background-color:var(--button-colour);border-color:var(--button-colour);color:var(--button-text-colour);font-size:var(--base-font-size);}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .mastfoot{display:inline-block;font-family:Lato,Arial,sans-serif;margin-left:auto;margin-right:auto;width:auto;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .mastfoot .inner{text-align:center;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .mastfoot p{background:#f8fbfa;border:1px solid #e8f5f2;border-radius:.25rem;color:#808c97;display:inline-block;font-size:14px;margin:auto;padding:.5em;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .mastfoot a{color:#808c97;display:inline-block;font-weight:700;margin-left:5px;padding-left:23px;position:relative;text-decoration:none;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .mastfoot a:before{background-image:url(https://gallery.eo.page/tentacles/icons/v1/powered-by/otto.svg);background-size:cover;content:"";height:25px;left:0;position:absolute;top:-4px;width:18px;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .mastfoot a:hover{color:#808c97!important;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .mastfoot.disabled p{display:none;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .mastfoot.no-bg p{background:none;border:none;}
[data-form="484df1a3-bc13-11ec-9258-0241b9615763"] .mastfoot{margin-top:10px!important;}
/*! CSS Used fontfaces */
@font-face{font-family:'Aldrichrus';src:url('https://launchpad.artyfact.game/fonts/Aldrich_[RUS_by_Daymarius]/AldrichRUSbyDaymarius.eot');src:local('Aldrich [RUS by Daymarius]'), local('AldrichRUSbyDaymarius'),   url('https://launchpad.artyfact.game/fonts/Aldrich_[RUS_by_Daymarius]/AldrichRUSbyDaymarius.eot?#iefix') format('embedded-opentype'),   url('https://launchpad.artyfact.game/fonts/Aldrich_[RUS_by_Daymarius]/AldrichRUSbyDaymarius.woff2') format('woff2'),   url('https://launchpad.artyfact.game/fonts/Aldrich_[RUS_by_Daymarius]/AldrichRUSbyDaymarius.woff') format('woff'),   url('https://launchpad.artyfact.game/fonts/Aldrich_[RUS_by_Daymarius]/AldrichRUSbyDaymarius.ttf') format('truetype'),   url('https://launchpad.artyfact.game/fonts/Aldrich_[RUS_by_Daymarius]/AldrichRUSbyDaymarius.svg#AldrichRUSbyDaymarius') format('svg');font-weight:normal;font-style:normal;font-display:swap;}
@font-face{font-family:'Starzone';src:url('https://launchpad.artyfact.game/fonts/Starzone/Starzone-Regular.eot');src:local('Starzone Regular'), local('Starzone-Regular'),   url('https://launchpad.artyfact.game/fonts/Starzone/Starzone-Regular.eot?#iefix') format('embedded-opentype'),   url('https://launchpad.artyfact.game/fonts/Starzone/Starzone-Regular.woff2') format('woff2'),   url('https://launchpad.artyfact.game/fonts/Starzone/Starzone-Regular.woff') format('woff'),   url('https://launchpad.artyfact.game/fonts/Starzone/Starzone-Regular.ttf') format('truetype'),   url('https://launchpad.artyfact.game/fonts/Starzone/Starzone-Regular.svg#Starzone-Regular') format('svg');font-weight:normal;font-style:normal;font-display:swap;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:200;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDkv_1w4A.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:200;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDlv_1w4A.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:200;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDrv_0.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDkv_1w4A.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDlv_1w4A.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDrv_0.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDkv_1w4A.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDlv_1w4A.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDrv_0.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDkv_1w4A.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDlv_1w4A.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDrv_0.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDkv_1w4A.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDlv_1w4A.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDrv_0.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDkv_1w4A.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDlv_1w4A.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDrv_0.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDkv_1w4A.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDlv_1w4A.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDrv_0.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:900;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDkv_1w4A.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:900;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDlv_1w4A.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Work Sans';font-style:italic;font-weight:900;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYqz_wNahGAdqQ43Rh_eZDrv_0.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:200;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_c6Dpp_k.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:200;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_cqDpp_k.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:200;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_c6Dpp_k.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_cqDpp_k.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:300;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_c6Dpp_k.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_cqDpp_k.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:400;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_c6Dpp_k.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_cqDpp_k.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:500;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_c6Dpp_k.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_cqDpp_k.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:600;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_c6Dpp_k.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_cqDpp_k.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:700;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_c6Dpp_k.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_cqDpp_k.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:800;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:900;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_c6Dpp_k.woff2) format('woff2');unicode-range:U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+0300-0301, U+0303-0304, U+0308-0309, U+0323, U+0329, U+1EA0-1EF9, U+20AB;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:900;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_cqDpp_k.woff2) format('woff2');unicode-range:U+0100-02AF, U+0304, U+0308, U+0329, U+1E00-1E9F, U+1EF2-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;}
@font-face{font-family:'Work Sans';font-style:normal;font-weight:900;font-display:swap;src:url(https://fonts.gstatic.com/s/worksans/v19/QGYsz_wNahGAdqQ43Rh_fKDp.woff2) format('woff2');unicode-range:U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}